<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body class="main-body">

<div class="ui container main-container">
    <div class="ui container middle aligned" style="width:400px">
        <form class="ui form" th:action="@{/register}"  method="post">

            <div class="field">
                <div class="ui left icon input">
                    <input type="text" id="username" name="username" maxlength="50" placeholder="Username">
                    <i class="user icon"></i>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <input type="text" id="password" name="password" maxlength="30" placeholder="Password">
                    <i class="lock icon"></i>
                </div>
            </div>
            <div class="field">
                <button type="submit" class="ui button" style="width:100%;">REGISTER</button>
            </div>
        </form>
    </div>

</div>


<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>